<div class='container'>
    <div id='results'>
        <div class="card" style="width: 18rem;">
            <div class="card-header bg-primary">
              <p class='text-light'>Name</p>
              <p class='text-light'>Role</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ID: {{ id }}</li>
                <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li class="list-group-item">School: {{ school }}</li>
            </ul>
        </div>
    </div>
</div>